/* User Fonts */

@import url('https://fonts.googleapis.com/css?family=Pontano+Sans|Press+Start+2P|Ubuntu');

/* User CSS */

.embed-user {
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 3px;
    text-decoration: none;
    font-size: 1.0em;
    /* Default colors */
    color: #FFFFFF;
    background-color: #3D3C3A;
    font-family: Arial, Helvetica, sans-serif;
}

.NaN {
    color: #97007E;
    background-color: #FFF;
    font-family: 'Lucida Console', Monaco, monospace;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

.soot {
    color: rgb(214, 227, 239);
    font-family: 'Roboto', sans-serif;
    background-color: rgb(1, 87, 155);
}

.zzz {
    color: #00bcf8;
    background-color: #494c64;
    font-family: Georgia, serif
}

.qwert123 {
    color: #ffffff;
    background-color: #0080ff;
    font-family: Arial, Helvetica, sans-serif
}

.Lynx {
    color: #0000a0;
    background-color: #11cee3;
    font-family: 'Comic Sans', 'Comic Sans MS', 'Chalkboard', 'ChalkboardSE-Regular', sans-serif
}

.lobster {
    color: #96e0fc;
    background-color: #ff0000;
    font-family: Arial, Helvetica, sans-serif
}

.TheShinyG, .G {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 191, 0);
    font-family: 'Comic Sans', 'Comic Sans MS', Chalkboard, ChalkboardSE-Regular, sans-serif;
}

.IHateBiscuits {
    color: #00ffff;
    background-color: #ff8000;
    font-family: Arial, Helvetica, sans-serif;
}

.yousea {
    color: #ff66ff;
    background-color: #000000;
    font-family: 'Lato', sans-serif
}

.BootySnatcher {
    color: #ff80c0;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

.Metfan {
    color: #00ffff;
    background-color: #000000;
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
}

.CheeseCum {
    color: #ea5515;
    background-color: #00ff00;
    font-family: Arial, Helvetica, sans-serif;
}

.Fluff {
    color: #00ff00;
    background-color: #000000;
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}

.Rez {
    color: #b6b6b4;
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}

.LordSuperGuruKami {
    color: #990012;
    background-color: #FDD017;
    font-family: 'Comic Sans', 'Comic Sans MS', 'Chalkboard', 'ChalkboardSE-Regular', sans-serif;
}

.Pleepster, .Pleep {
    color: #c12267;
    background-color: #000000;
    font-family: 'Courier New', Courier, monospace
}

.Zoned4 {
    color: rgb(236, 230, 0);
    font-family: Georgia, serif;
    background-color: rgb(0, 0, 0);
}

.Skream {
    color: #880000;
    background-color: #0b0b0b;
    font-family: 'Times New Roman', Times, serif
}

.PETFISH {
    color: rgb(0, 255, 255);
    background-color: rgb(0, 0, 160);
    font-family: Arial, Helvetica, sans-serif;
}

.Madi {
    color: rgb(245, 245, 245);
    background-color: rgb(206, 147, 216);
    font-family: Arial, Helvetica, sans-serif;
}

.Faye {
    color: rgb(246, 40, 23);
    background-color: rgb(41, 0, 83);
    font-family: Copperplate, 'Copperplate Gothic', sans-serif;
}

.SwegLord {
    color: #000000;
    background-color: #ffffff;
    font-family: Impact, Charcoal, sans-serif
}

.Fluff {
    color: rgb(0, 255, 0);
    font-family: Ubuntu, sans-serif;
    background-color: rgb(0, 0, 0);
}

.Spek {
    color: #FFFFFF;
    background-color: #000000;
    font-family: 'Press Start 2P', cursive
}

.CyriTheCat {
    color: rgb(0, 15, 191);
    background-color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}

.Ehsa {
    color: #2befff;
    background-color: #400040;
    font-family: 'Courier New', Courier, monospace
}

.ghosty, .nexus {
    color: #000000;
    background-color: #3812ed;
    font-family: Copperplate, 'Copperplate Gothic', sans-serif
}

.citlali {
    color: #00ffff;
    background-color: #ff0080;
    font-family: Arial, Helvetica, sans-serif;
}

.Jack {
    color: #004000;
    background-color: #ff80ff;
    font-family: Impact, Charcoal, sans-serif
}

.MsDOS {
    color: #FFFFFF;
    background-color: #3D3C3A;
    font-family: Arial, Helvetica, sans-serif
}

.Sixft4 {
    color: #ffffff;
    background-color: #120077;
    font-family: Arial, Helvetica, sans-serif
}

.Mochi_Panda {
    color: #FFFFFF;
    background-color: #3D3C3A;
    font-family: Arial, Helvetica, sans-serif
}

.Howzamazig {
    color: #1bcb89;
    background-color: #0b6c34;
    font-family: Arial, Helvetica, sans-serif
}

.toxicwaves {
    color: #eefa05;
    background-color: #13b101;
    font-family: Arial, Helvetica, sans-serif;
}

.Acaeria {
    color: #4bfc18;
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif
}

.Koosh, .Luna {
    color: #00afff;
    background-color: #000000;
    font-family: 'Trebuchet MS', Helvetica, sans-serif
}

.RUNNER {
    color: #ff870f;
    background-color: #ce0000;
    font-family: Arial, Helvetica, sans-serif
}

.MemeLord {
    color: #1ebd06;
    background-color: #8000ff;
    font-family: Arial, Helvetica, sans-serif
}

.BRUH {
    color: #ea0000;
    background-color: #c0c0c0;
    font-family: Arial, Helvetica, sans-serif;
}
